/* This stylesheet is primarily for bringing in typesfaces, element color, and possibly content size*/
/* Bootstrap is utilized for page structuring and some elements/element colors where easier to deploy */

body {
  background-color: #424c52;
}

h1.title {
  color: #1da1f2;
  font-family: redaction-35;
  font-weight: bold;
  margin-bottom: 0;
}

#nav {
  color: #ede6d7;
}

@font-face{
  font-family: redaction-35;
  src: url(/Applications/XAMPP/xamppfiles/htdocs/info638_wd_final/info638_web_development_final/assets/fonts/Redaction_35-Regular.woff2);
  src: url(/Applications/XAMPP/xamppfiles/htdocs/info638_wd_final/info638_web_development_final/assets/fonts/Redaction35-Regular.otf)
}

#content {
  color: #ede6d7;
}

li {
  list-style-type: none;
}
